* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.header {
    background-image: linear-gradient(to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.9)
    ), url(images/wilderness.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    color: #fff;
    padding: 6vw 4vw;
    margin: 0 auto;
    line-height: 1.3;
    text-align: center;
}

.header h1 {
    margin-top: 2vw;
    font-size: 6vw;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: 1px 3px 10px rgba(0,0,0,0.9);
}

.header h2 {
    font-size: 5vw;
    font-weight: 400;
    color: #71dba6c4;
    text-shadow: 1px 3px 10px rgba(0,0,0,0.9);
}

.wrapper {
    max-width: 75%;
    margin: 0 auto;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 2.3rem;
}

#selectState {
    padding: 1.4rem 2rem;
    margin: .5rem;
    background: #3A506B;
    color: #fff;
}

select,input[type=number] {
    font-size: 1.6rem;
    padding: 1.4rem;
    width: 60%;
}

form {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
        "st nm"
        "sr sr";
}

.states {
    grid-area: st;
}

.states p {
    font-weight: bold;
}

.states span {
    color: rgb(88, 189, 172)
}

.numChoice {
    grid-area: nm;
}


form div {
    margin: 0 auto;
    padding: 3rem;
}


.submit {
    grid-area: sr;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5vw 5vw;
    display: inline-block;
    border-radius: .5rem;
    background: #3A506B;
    color: #fff;
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.7);; 
}

#searchResults {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.p-heading {
    font-weight: 700;
    color: rgb(3, 146, 122);
}

.crop {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
.crop img {
    height: auto;
    width: 350px;
    box-shadow: 1px 5px 15px rgba(0,0,0,0.7);
    border: 5px solid black;
}


@media screen and (max-width: 800px) {
    form {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "st"
        "nm"
        "sr";
    }

    .formSection {
        text-align: center;
    }

    .wrapper {
        width: 100%;
    }
}